header {
    height: 63px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .logo {
        a {
            img {
               width: 197px;
               height: 36px;
               border-top: 14px;
               border-left: 89px;
            }
        }
        }
    }
