header {
    height: 63px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .logo {
        a {
            img {
               width: 197px;
               height: 36px;
               border-top: 14px;
               border-left: 89px;
            }
        }
        }
    }
    .lien-icon {
        i {
            width: 17.2px;
            height: 16px;
            position: absolute;
            margin-top: 9px;
            margin-left: -99px;
            color: #353535;
        }
    }

    .en-tete {
        img {
            width: 100%;
            height: 330px;
        }
    }

    .info__prix2 {
        width: 27px;
        height: 18px;
        line-height: 17.63px;
        position: absolute;
        bottom: 30px;
        font-weight: bold;
        font-size: 15.04px;
      }