//images des autres pages//
.en-tete {
    img {
        width: 100%;
        height: 275px;
    }
}

//fleche de haut de page//
.lien-icon {
    .fa-arrow-left {
        width: 17.2px;
        height: 16px;
        position: absolute;
        margin-top: 9px;
        margin-left: -99px;
        color: #353535;
    }
}

//container de la note enchantee//
.container-menu2 {
    width: 100%;
    background-color: #f6f6f6;
    height: 1185px;
    border-radius: 45px 45px 0px 0px;
    margin-top: -64px;
    position: relative;
}

//prix des plats//
.info__prix2 {
    width: 27px;
    height: 18px;
    line-height: 17.63px;
    position: relative;
    bottom: 30px;
    font-weight: bold;
    font-size: 15.04px;
    margin-left: 357px;
}

//totre pages//
.info-title {
    h4 {
        font-family: shrikhand;
        font-weight: 400;
        font-style: italic;
        font-size: 28px;
        line-height: 40.82px;
        color: #101010;
        margin-left: 15px;
        padding-top: 10px;
    }
    .fa-heart {
        color: black;
        margin-top: -34px;
        margin-left: 366px;
        position: absolute;
        font-size: xx-large;
    }
}


h5 {
    font-family: roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.75px;
    color: black;
    text-decoration: underline 3px solid #99e2d0;
    padding-top: 28px;
    padding-left: 20px;
}

.card__content2 {
    height: 69px;
    border-radius: 15.04px;
    background-color: white;
    h6 {
        font-family: roboto;
        font-weight: bold;
        font-size: 18px;
        margin-top: 30px;
        margin-left: 30px;
        color: black;
        padding-top: 15px;
    }
    .card__subtile2 {
        font-family: roboto;
        font-weight: 300;
        font-size: 15.04px;
        line-height: 17.63px;
        margin-left: 30px;
        color: black;
    }
}

.button2 {
    margin-top: 40px;
    .button__btn2 {
        border: 0;
        padding: 12px 24px;
        font-weight: 500;
        font-size: 17.6px;
        border-radius: 100px;
        color: #fff;
        background-color: #686868;
        background-image: linear-gradient(0deg, #9356dc, #ff79da);
        cursor: pointer;
        margin-left: 125px;
        box-shadow: 4px 4px 10px;
    }
}