//images des autres pages//
.en-tete {
    img {
        width: 100%;
        height: 400px;
        object-fit: cover;    
    }
}

//fleche de haut de page//
.lien-icon {
    .fa-arrow-left {
        width: 17.2px;
        height: 16px;
        position: absolute;
        margin-top: 9px;
        margin-left: -99px;
        color: #353535;
    }
}

//container de la note enchantee//
.container-menu2 {
    width: 100%;
    background-color: #f6f6f6;  
    border-radius: 45px 45px 0px 0px;
    margin-top: -64px;
    position: relative;
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;

}


//autres pages//
.info-title { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 35px;
    h1 {
        font-family: 'Shrikhand', serif;
        font-weight: 400;
        font-style: italic;
        font-size: 28px;
        line-height: 40.82px;
        color: #101010;
        margin-left: 15px;
        padding-top: 10px;
        text-wrap: nowrap;
    }
    .far {
        color: black;
        font-size: xx-large;
        opacity: 1;
    }
    .fas {
        transition: all 0.5s;
        color: transparent;
        background-image: linear-gradient(0deg, #9356DC, #FF79DA);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        margin-left: -62px;
        font-size: xx-large;
    }
    &:hover .fas h1 {
        opacity: 1;
    }
}

.title2 {
    h2 {
        font-size: 16px;
        font-weight: 300;
        line-height: 18.75px;
        margin-bottom: 25px;
        color: black;
        text-decoration: underline 3px solid #99e2d0;
        padding-top: 28px;
        padding-left: 20px;
    }
}

.entree, .plat, .dessert {
    animation: menu;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.entree {
  animation-delay: 0.5s;
}

.plat {
    animation-delay: 1s;
}

.dessert {
    animation-delay: 1.5s;
}

@keyframes menu {
    0% {
        opacity: 0;
    }
    100% {
       opacity: 1;
    }
}
.card__content2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15.04px;
    background-color: white;
    margin: 10px 16px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165,0.2) 0px 8px 24px;
.card__txt2 {
    width: 74%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}
    h3 {
        font-family: roboto;
        font-weight: bold;
        font-size: 1rem;
        color: black;
        margin-top: 10px;
        margin-left: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .card__subtile2 {
        font-weight: 300;
        font-size: 0.8rem;
        line-height: 17.63px;
        color: black;
        margin-left: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .info__prix2 {
        position: relative;
        font-weight: 700;
    }
    .info__check {
        background-color: #99E2D0;
        border-radius: 0px 15px 15px 0px;
        overflow: hidden;
        position: relative;
        height: 52px;
        color: white;
        margin-right: -40px;
        width: 40px;
        margin-bottom: -4px;
        transition: margin-right 0.5s;
    }
    .fa-circle-check::before {
        display: flex;
        justify-content: center;
        margin-top: 18px;
    }
    &:hover .info__check {
        margin-right: 0px;
    }
}


.button2 {
    padding: 40px;
    text-align: center;
    margin-right: 80px;
    &:hover {
        opacity: 0.7;
    }
    .button__btn2 {
        padding: 12px 24px;
        font-weight: 500;
        font-size: 17.6px;
        border-radius: 100px;
        color: #fff;
        background-color: #686868;
        background-image: linear-gradient(0deg, #9356dc, #ff79da);
        cursor: pointer;
        margin-left: 95px;
        box-shadow: 4px 4px 10px;
    }
}