/****** General ******/
header {
  height: 63px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
header .logo a img {
  width: 197px;
  height: 36px;
  border-top: 14px;
  border-left: 89px;
}

.fonction .container {
  background-color: white;
  }

.fonction__icons {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  gap: 25px;
}

.fonction__number {
  background-color: #9356dc;
  color: #fff;
  font-size: 14px;
  position: relative;
  left: -42px;
  padding: 4px 9px;
  border-radius: 50px;
}

ul {
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  background-color: #f6f6f6;
  box-shadow: 0 4px 8px 5px #fff;
  border-radius: 20px;
  padding: 28px 35px;
  margin: 0 14px;
  transition: 3s;
}

.container {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container .card {
  background-color: #fff;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
  position: relative;
  height: 251px;
}
.container .card .card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .card .card__image {
  height: 75%;
}
.container .card .card__image img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}
.container .card .card__badge {
  background-color: #99e2d0;
  color: #008766;
  border-radius: 3px;
  padding: 6px 12px;
  border-top: 12px;
  border-right: 12px;
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}
.container .card .card__rating {
  width: 22px;
  height: 30px;
  position: absolute;
  bottom: 20px;
  font-size: 30px;
  right: 30px;
}

footer {
  background-color: #353535;
  height: 186px;
  padding: 22px 25px 22px 25px;
  gap: 16px;
}
footer .title h3 {
  font-family: shrikhand;
  font-weight: 400;
  font-style: italic;
  size: 18px;
  line-height: 26.24px;
  color: white;
  margin-bottom: 22px;
}
footer nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer nav a {
  color: white;
}
footer nav a i {
  color: white;
  margin-right: 10px;
}
footer nav a .fa-utensils {
  margin-right: 15px;
}

* {
  font-family: Roboto, sans-serif;
  margin: 0;
  list-style: none;
}

.local {
  display: flex;
  justify-content: center;
  padding: 20px 16px;
  background-color: #f3f3f3;
  font-size: 19px;
  position: relative;
}
.local i {
  color: #000;
  padding-right: 10px;
}

.local__icon {
  margin-right: 16px;
}

.local__text {
  font-weight: 700;
}

.info {
 
  text-align: center;
  background-color: #fafafa;
}

p {
  display: block;
  margin-block-start: 22px;
  margin-block-end: 33px;
  margin-inline-start: 0px;
  margin-inline-end: 11px;
  color: #353535;
  font-weight: 300;
  font-size: 18px;
}

.info__btn {
  border: 0;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 17.6px;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  cursor: pointer;
  transition-duration: 25s;
  box-shadow: 4px 4px 10px;
}

header {
  height: 63px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
header .logo a img {
  width: 197px;
  height: 36px;
  border-top: 14px;
  border-left: 89px;
}

.lien-icon i {
  width: 17.2px;
  height: 16px;
  position: absolute;
  margin-top: 9px;
  margin-left: -99px;
  color: #353535;
}

.en-tete img {
  width: 100%;
  height: 330px;
}


.francaise {
  background-color: #f6f6f6;
  height: 1090px;
}

.palette {
  background-color: #f6f6f6;
  height: 1050px;
}

.delices {
  background-color: #f6f6f6;
  height: 1050px;
}

.note {
  background-color: #f6f6f6;
  height: 1090px;
}


h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: roboto;
  font-weight: bold;
  color: #000000;
}

.info {
  margin-bottom: 25px;
  padding: 20px;
}
.info i {
  width: 22px;
  position: absolute;
  right: 20px;
  top: 442px;
  padding: 6px 12px;
  font-size: 35px;
}

h2 {
  font-family: roboto;
  font-size: 16px;
  color: #000000;
}

.card__content {
  background-color: white;
  border-radius: 15px;
  width: 349px;
  margin: 20px;
}
.card__content .card__txt {
  width: 287px;
}

.card__rating {
  position: absolute;
  right: 80px;
  width: 30px;
}/*# sourceMappingURL=main.css.map */

h4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: shrikhand;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  line-height: 40.82px;
}

h5 {
  font-family: roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 4.75;
  color: #000000;
  text-decoration: underline 3px;
  text-decoration-color: #99e2d0;
  margin: 20px;
}

h6 {
  color: #000000;
  font-family: roboto;
  font-weight: bold;
  font-size: 18px;
  
}

.card__content2 {
  background-color: white;
  border-radius: 15px;
  width: 349px;
  margin: 20px;
  .card__txt2 {
      width: 287px;
      margin: 15px;
  }
}

.card__rating2 {
  position: absolute;
  right: 80px;
  width: 30px;
}

.info__prix2 {
  width: 27px;
  height: 18px;
  line-height: 17.63px;
  position: absolute;
  bottom: 30px;
  font-weight: bold;
  font-size: 15.04px;
}

  .button__btn2 {
      display: flex;
      justify-content: center;
      border: 0;
      padding: 12px 24px;
      font-weight: 500;
      font-size: 17.6px;
      border-radius: 100px;
      color: #fff;
      background-color: #686868;
      background-image: linear-gradient(0deg, #9356DC, #FF79DA);
      cursor: pointer;
      transition-duration: 25s;
      box-shadow: 4px 4px 10px;
      margin-right: 90px;
      margin-left: 90px;
  }

 