/****** General ******/
header {
  height: 63px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
header .logo a img {
  width: 197px;
  height: 36px;
  border-top: 14px;
  border-left: 89px;
}

.fonction h2 {
  margin-left: 20px;
}

.fonction__icons {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  gap: 25px;
}

.fonction__number {
  background-color: #9356dc;
  color: #fff;
  font-size: 14px;
  position: relative;
  left: -42px;
  padding: 4px 9px;
  border-radius: 50px;
}

ul {
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding: 0;
}

li {
  display: list-item;
  background-color: #f6f6f6;
  box-shadow: 0 4px 8px 5px #fff;
  border-radius: 20px;
  padding: 30px 35px;
  margin: 16px 26px;
  transition: 3s;
}

.container {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}
.container .card {
  background-color: #fff;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
  position: relative;
  height: 251px;
}
.container .card .card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .card .card__image {
  height: 75%;
}
.container .card .card__image img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}
.container .card .card__badge {
  background-color: #99e2d0;
  color: #008766;
  border-radius: 3px;
  padding: 6px 12px;
  border-top: 12px;
  border-right: 12px;
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}
.container .card .card__rating {
  width: 22px;
  height: 30px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 30px;
}

footer {
  background-color: #353535;
  height: 186px;
  padding: 22px 25px 22px 25px;
  gap: 16px;
}
footer .title h3 {
  font-family: shrikhand;
  font-weight: 400;
  font-style: italic;
  size: 18px;
  line-height: 26.24px;
  color: white;
  margin-bottom: 22px;
}
footer nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer nav a {
  color: white;
}
footer nav a i {
  color: white;
  margin-right: 10px;
}
footer nav a .fa-utensils {
  margin-right: 15px;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  list-style: none;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: rgb(242, 188, 242);
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 1;
  animation: disappear 200ms 3s forwards;
}
.loader span {
  animation: spin 3s infinite linear;
  color: aqua;
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
}
.info {
  background-color: #f6f6f6;
  margin-bottom: 25px;
  padding: 40px;
  text-align: center;
}
.info h1 {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
}
@media screen and (min-width: 1024px) {
  .info h1 {
    font-size: 40px;
  }
}
.info p {
  margin-block-start: 16px;
  margin-block-end: 50px;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}

.local {
  display: flex;
  justify-content: center;
  padding: 20px 16px;
  background-color: #EAEAEA;
  font-size: 19px;
  position: relative;
}
.local .fa-location-dot {
  color: #000;
  padding-right: 10px;
}
.local .local__text {
  font-weight: 700;
}

.info__btn {
  border: 0;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  cursor: pointer;
  box-shadow: 4px 4px 10px;
}

.en-tete {
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
.en-tete img {
  width: 100%;
}

.lien-icon .fa-arrow-left {
  width: 17.2px;
  height: 16px;
  position: absolute;
  margin-top: 9px;
  margin-left: -99px;
  color: #353535;
}

.container-menu2 {
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 45px 45px 0px 0px;
  margin-top: -64px;
  position: relative;
}

.info-title h4 {
  font-family: shrikhand;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  line-height: 40.82px;
  color: #101010;
  margin-left: 15px;
  padding-top: 10px;
}
.info-title .fa-heart {
  color: black;
  margin-top: -34px;
  margin-left: 366px;
  position: absolute;
  font-size: xx-large;
}

h5 {
  font-family: roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  margin-bottom: 25px;
  color: black;
  -webkit-text-decoration: underline 3px solid #99e2d0;
          text-decoration: underline 3px solid #99e2d0;
  padding-top: 28px;
  padding-left: 20px;
}

.card__content2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15.04px;
  background-color: white;
  padding: 16px;
  margin: 16px 0;
}
.card__content2 h6 {
  font-family: roboto;
  font-weight: bold;
  font-size: 18px;
  color: black;
}
.card__content2 .card__subtile2 {
  font-family: roboto;
  font-weight: 300;
  font-size: 15.04px;
  line-height: 17.63px;
  color: black;
}
.card__content2 .card__rating2 {
  padding: 10px;
  position: relative;
}

.button2 {
  padding: 40px;
}
.button2 .button__btn2 {
  padding: 12px 24px;
  font-weight: 500;
  font-size: 17.6px;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
  cursor: pointer;
  margin-left: 95px;
  box-shadow: 4px 4px 10px;
}/*# sourceMappingURL=main.css.map */