footer {
    background-color: #353535;
    padding: 40px 25px 40px 25px;
    .title {
        h3 {
            font-family: shrikhand;
            font-weight: 400;
            font-style: italic;
            size: 18px;
            line-height: 26.24px;
            color: white;
            margin-bottom: 22px;
        }
    }
    nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        a {
            color: white;
            i {
                color: white;
                margin-right: 10px;
            }
            .fa-utensils {
                margin-right: 15px;
            }
        }
    } 
    @media screen and (min-width: 1024px) {
       display: flex;
       justify-content: flex-start;
       align-items: center;
       flex-direction: row-reverse;
    .title {
        h3 {
        margin-left: 35px;
        margin-right: 35px;
        margin-bottom: 0;
        }
    }
    .menu {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    }
}

